<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <title>jacob.today</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  </head>

  <body class="mw8 flex flex-column min-h-100 pv2 ph3 pv4-ns ph5-ns avenir dark-gray">
    <header>
      <h1 class="f3 f2-ns dib">
        {{ site.title }}
      </h1>
      {% if page.path != "list.html" %}
        <a class="f5 f4-ns ml2" href="/list" title="List">../</a>
      {% endif %}
    </header>

    <main class="flex-auto">
      {{ content }}
    </main>

    <footer class="pb3">
      <nav class="mr3">
        {% if page.previous.url %}
          <a href="{{page.previous.url}}" title="Previous post">&larr;</a>
        {% elsif page.url == "/" %}
          <a href="{{site.posts[1].url}}" title="Previous post">&larr;</a>
        {% endif %}

        {% if page.next.url %}
          <a href="{{page.next.url}}" title="Next post">&rarr;</a>
        {% endif %}
      </nav>
    </footer>
  </body>
</html>
